<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <title>Todo List</title>
        
        {% load static %}

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
        <script src="{% static 'todoList/js/app.js' %}"></script>
        <script src="{% static 'todoList/js/app.routes.js' %}"></script>
        <script src="{% static 'todoList/js/index.controller.js' %}"></script>
        <script src="{% static 'todoList/js/home.controller.js' %}"></script>
        <script src="{% static 'todoList/js/list.controller.js' %}"></script>
        <script src="{% static 'todoList/js/services/list.factory.js' %}"></script>
    </head>
    {% verbatim %}
    <body>
        <br/>
        <div class="container" ng-controller="IndexController as vm">
            <ol class="breadcrumb">
                <li class="active">Home</li>
            </ol>

            <ui-view></ui-view>
            
        </div>
    </body>
    {% endverbatim %}
</html>